.aboutWrapper {
  position: relative;
  padding: 130px 10%;
}

.aboutWrapper h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -0.023em;
}

.aboutWrapper h2 span {
  color: var(--primary);
}
.aboutContent {
  margin-top: 80px;
  display: flex;
  gap: 6rem;
}
.aboutImages {
  position: relative;
  min-width: 368px;
  min-height: 368px;
  object-fit: cover;
}

.aboutRightSide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.aboutRightSide p {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 20px;
  letter-spacing: -0.012em;
  max-width: 497px;
  color: #0a0a0a;
}

.aboutStats {
  display: flex;
  gap: 4rem;
  margin-top: 40px;
}

.aboutStatsText {
  display: flex;
  gap: 8px;
}

.aboutStats div span {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.012em;
}

.aboutStatsText span:first-child {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.022em;
  color: #0a0a0a;
}

.aboutStatsText span:last-child {
  font-weight: 500;
  font-size: 24px;
  line-height: 44px;
  letter-spacing: -0.022em;
  color: var(--primary);
}

.villaStudioWrapper {
  margin-top: 50px;
  display: flex;
  gap: 4rem;
}

.loadMoreButton {
  font-size: 20px;
  background-color: #cfe1e04d;
  color: var(--primary);
  padding: 12px 35px;
  width: max-content;
  margin: 50px auto;
}

.facilitiesWrapper {
  display: flex;
  gap: 6rem;
  margin-top: 100px;
}

.facilitiesWrapper div:first-child {
  display: flex;
  flex-direction: column;
  width: 440px;
}

.facilitiesWrapper p {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.012em;
  color: #9e9e9e;
  margin: 30px 0;
}

.facilitiesButton {
  display: flex !important;
  justify-content: center;
  font-size: 20px;
  line-height: 20px;
  background-color: var(--primary);
  color: white !important;
  width: 191px;
  padding: 16px 21px;
  cursor: pointer;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.facilitiesWrapper div:last-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.facilityImageWrapper {
  position: relative;
  width: 319px;
  height: 319px;
  max-width: 319px;
  max-height: 319px;
  margin-right: 20px;
}

.facilityImageWrapper img {
  object-fit: cover;
}
