.header {
  position: absolute;
  z-index: 2;
  top: 5%;
  left: 10%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftHeader {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.rightHeader {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.rightHeader div {
  background-color: var(--primary);
  padding: 8px 32px;
}

.headerText {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.011em;
  color: white;
}

.menuIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 40px;
  left: 0.5%;
  padding: 5px;
  width: max-content;
  background-color: white;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-top-left-radius: 0px;
}

.dropdownMenu li {
  font-size: 12px;
  padding: 5px 10px;
  border-bottom: 1px solid #e0e0e0;
}

.dropdownMenu li:hover {
  background-color: #cfe1e04d;
  cursor: pointer;
}

.dropdownMenu li:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.rigthArrowIcon {
  display: none;
}

.dropdownVilla {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.subMenu {
  position: absolute;
  z-index: 4;
  top: 60px;
  left: 145px;
  padding: 5px;
  width: max-content;
  background-color: white;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-top-left-radius: 0px;
}

.subMenu li {
  font-size: 12px;
  padding: 5px 10px;
  border-bottom: 1px solid #e0e0e0;
}

.subMenu li:hover {
  background-color: #cfe1e04d;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    left: 5%;
  }
  .menuIcon {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .dropdownMenu {
    top: 30px;
    left: 5%;
  }
  .rigthArrowIcon {
    display: block;
  }
  .dropdownVilla {
    display: none;
  }

  .rightHeader {
    display: none;
  }
}
