.wrapper {
  position: relative;
  width: 100vw;
  height: 520px;
  margin-top: 160px;
}

.wrapper img {
  object-fit: cover;
}

.wrapper > div {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.wrapper > div > h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -2.3%;
  width: 440px;
  color: white;
  margin-bottom: 20px;
}

.wrapper > div > div {
  background-color: #f3f6f6;
  color: var(--primary);
  width: max-content;
  padding: 16px 32px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@media (max-width: 768px) {
  .wrapper {
    height: 221px;
    margin-top: 60px;
  }
  .wrapper > div {
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .wrapper > div > h2 {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -1.2%;
    width: 212px;
    margin: auto;
    text-align: center;
  }
  .wrapper > div > div {
    padding: 10px 32px;
    font-size: 12px;
    margin: 30px auto;
  }
}
