.wrapper {
  position: relative;
  padding: 50px 10% 20px 10%;
  max-width: 100vw !important;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

.wrapper > div {
  width: 340px;
}

.wrapper > div > ul {
  margin-top: 30px;
}

.wrapper > div > ul > li {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -1.2%;
  display: flex;
  gap: 10px;
}

.wrapper > div > h3 {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -2.1%;
  font-weight: 500;
}

.wrapper > div:last-child > ul > li {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 50px 5% 20px 5%;
  }
  .wrapper > div {
    width: max-content;
  }
  .wrapper > div > h3 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -1.1%;
  }
  .wrapper > div > ul > li {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.6%;
  }
  .wrapper > div:last-child > ul {
    display: flex;
    gap: 10px;
  }
  .wrapper > div:last-child > ul > li > p {
    display: none;
  }
}
