.ctaOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.ctaModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  z-index: 10000;
  width: 344px;
  text-align: center;
}

.ctaModalTitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.ctaModalText {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 24px;
  color: #777777;
  max-width: 248px;
  margin: auto;
}

.ctaModalClose {
  margin-top: 20px;
  background-color: var(--primary);
  color: white;
  font-size: 14px;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
