.main {
  width: 100%;
}

.heroWrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.heroImage {
  object-fit: cover;
  object-position: center;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}

.header {
  position: absolute;
  z-index: 4;
  top: 5%;
  left: 10%;
}

.menuIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.headingWrapper {
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 10%;
}

.headingTitle {
  line-height: 60px;
  color: white;
  font-size: 40px;
  font-weight: 700;
  max-width: 416px;
  letter-spacing: -0.023em;
}

.headingSubtitle {
  color: white;
  font-size: 20px;
  max-width: 649px;
  line-height: 20px;
  letter-spacing: -0.012em;
  margin: 20px 0;
}

.headingMainButton {
  display: none;
}

.headingSecondaryButton {
  background-color: #f1f6f6;
  color: var(--primary);
  max-width: max-content;
  font-size: 20px;
  padding: 12px 35px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@media (max-width: 375px) {
  .heroWrapper {
    height: 433px;
  }
  .headingWrapper {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
  }
  .headingTitle {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.012em;
    margin: auto;
    text-align: center;
    width: 212px;
  }
  .headingSubtitle {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: center;
    width: 335px;
    margin: 10px 0;
  }
  .headingMainButton {
    background-color: var(--primary);
    color: white;
    display: block;
    font-size: 12px;
    padding: 12px 35px;
    margin: auto;
    max-width: 190px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 16px;
  }
  .headingSecondaryButton {
    font-size: 12px;
    max-width: 190px;
    margin: auto;
  }
}
