.main {
  width: 100%;
}

.heroWrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.heroImage {
  object-fit: cover;
  object-position: center;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}

.header {
  position: absolute;
  z-index: 4;
  top: 5%;
  left: 10%;
}

.menuIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.headingTitle {
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 15%;
  line-height: 60px;
  color: white;
  font-size: 40px;
  font-weight: 700;
  max-width: 416px;
  letter-spacing: -0.023em;
}

@media (max-width: 375px) {
  .heroWrapper {
    height: 433px;
  }
  .headingTitle {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.012em;
    text-align: center;
    width: 212px;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}
