.cardVillaStudio {
  box-shadow: 2px 4px 15px 0px #00000014;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.imageContainer {
  position: relative;
  width: 320px;
  height: 322px;
  margin: auto;
}

.imageContainer img {
  object-fit: cover;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.cardVillaStudio h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.011em;
  margin: 20px 0;
}

.cardContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 12px;
  line-height: 16px;
  gap: 10px;
  min-height: 100px;
}

.cardContent div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.cardPrice {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.017em;
  margin-top: 20px;
}

.cardPrice span {
  font-weight: 400;
}
