.cardWrapper {
  min-width: 368px;
  max-width: 368px;
  max-height: 240px;
  background-color: #fff;
  box-shadow: 2px 4px 15px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 10px;
  margin-top: 40px;
}
.cardWrapper > p:first-child {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.6%;
  margin-left: 5px;
}

.userInfo {
  display: flex;
  align-items: start !important;
  gap: 10px;
  max-width: 200px;
}

.avatarWrapper {
  position: relative;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
}

.avatarWrapper img {
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.userInfo > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: left;
}

.userInfo > div:last-child > p:first-child {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1%;
  width: 200px;
  color: var(--primary);
}

.userInfo > div:last-child > p:last-child {
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 1%;
  color: #9e9e9e;
}

@media (max-width: 768px) {
  .cardWrapper {
    min-width: 335px;
    max-width: 305px;
    min-height: 148px;
    max-height: 148px;
    padding: 10px;
    margin-top: 20px;
  }
}
